body {
    background-color: #EEE;
}

.tracker {
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
}

.frame {
    width: 408px;
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
    outline: auto;
    margin: 6px;
    padding: 4px;
}

.glyph {
    position: relative;
    text-align: right;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}

.glyph label {
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 50px;
    text-align: right;
    color: white;
    font-size: 48px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 0px #000000;
    overflow:hidden;
}

.configure {
    padding: 4px;
    outline: auto;
    display: block;
    margin: 6px;
}

.starchips {
    display: block;
    outline: auto;
    padding: 4px;
    margin: 6px;
    height: 184px;
}
.starchips label {
    color: white;
    font-size: 48px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 0px #000000;
}

.starchip-adder img {
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.duel-rank {
    width: 300px;
    outline:auto;
    margin: 6px;
    padding: 4px;
}

.duel-rank-control {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    height: 28px;
}

.duel-rank-control img {
    width: 28px;
    height: 28px;
}

.duel-rank-control label {
    position: absolute;
    left:30px;
    top:2px;
    font-size: 24px;
}

.duel-rank-control input {
    position: absolute;
    left: 230px;
    top: 2px;
    width: 60px;
    height: 24px;
    font-size: 20px;
}

.duel-rank-control select {
    position: absolute;
    left: 200px;
    top: 2px;
    width: 90px;
    height: 28px;
}

.guardian-star {
    outline:auto;
    height: 280px;
    margin: 6px;
    padding: 4px;
}